@font-face {
    font-family: 'AlteHaasGroteskBold';
    src: url('AlteHaasGroteskBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'AlteHaasGroteskBold', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.banner {
    overflow: hidden;
    white-space: nowrap;
    background: black;
    padding: 40px 0;
    text-align: center;
}

.marquee {
    display: inline-block;
    font-size: 6rem;
    font-weight: bold;
    color: white;
    position: relative;
    white-space: nowrap; /* Prevent line breaks */
}

.letter {
    display: inline-block;
    opacity: 1; /* Keep letters visible */
}

h2 {
    color: #333;
    margin-top: 20px;
}

.nav-bar {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}

.nav-bar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-bar a:hover {
    text-decoration: underline;
    color: #007BFF;
}

.container {
    text-align: center;
    padding: 20px;
}

.ul {
    text-align: center;
}
.image-container {
    /* Optional: Center the image container */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Full viewport height */
    width: 100vw;
}


.fade-in {
    opacity: 0; /* Start fully transparent */
    animation: fadeIn 0.1s forwards;
    animation-delay: 0s;
}

@keyframes fadeIn {
    to {
        opacity: 1; /* End fully opaque */
    }
}

.stretched-image {
            transform: scaleX(1.5); /* Stretch the image 1.5 times its original width */
            height: auto; /* Maintain aspect ratio */
        }

a img {
    display: inline-block; /* This will apply to images inside links */
    border: 2px; /* Example style */
    border-radius: 5px; /* Example style */
}
